<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxx.library.management.mapper.BookMapper">

    <select id="pageVO" resultType="com.wxx.library.management.entity.vo.BookVO">
        select b.*, bc.category_name
        from book b
        left join book_category bc on b.book_category_id = bc.id and bc.deleted = 0
        where b.deleted = 0
        <if test="bookName != null and bookName != ''">
            and b.book_name like concat('%', #{bookName}, '%')
        </if>
        <if test="bookCategoryId != null and bookCategoryId != ''">
            and b.book_category_id = #{bookCategoryId}
        </if>
    </select>
    <select id="hotBook" resultType="com.wxx.library.management.entity.vo.HotBookVO">
        select book_id, count(*) as count, b.book_name
        from borrow bw
                 left join book b on bw.book_id = b.id and b.deleted = 0
        where bw.deleted = 0
        group by book_id
        order by count desc
        limit 15
    </select>
</mapper>

