<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxx.library.management.mapper.RoleMapper">

    <select id="getRolesByUserId" resultType="com.wxx.library.management.entity.Role">
        select r.*
        from role r
                 left join user_role ur on r.id = ur.role_id and ur.deleted = 0
        where ur.user_id = #{id}
          and r.deleted = 0
    </select>
</mapper>

